<div class="col-md-12 product-info">

    <md-tab-group>
        <md-tab *ngFor="let combo of bundles"
                [label]="combo.bundleInfo.Name">

            <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                <div class="col-sm-6">
                    <h4> This Combo includes following Items :-</h4>
                </div>
                <div class="col-sm-6 text-right">

                    <button class="btn btn-info btn-xs"                            
                            style="margin-right: 10px; outline: none !important;"
                            (click)="addCombo_toCart(combo.bundleInfo, bundleQty.value)">
                        Add to cart
                    </button>

                    <button class="btn btn-default btn-sm" 
                            style="font-size: 7px !important;" 
                            (click)="changeQty(bundleQty, true)">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-plus fa-stack-1x"></i>
                        </span>
                    </button>
                    <input type="text" style="width: 60px;text-align: center;"
                            maxlength="2"
                            #bundleQty                            
                            value="1"
                           (keyup)="onkeyPress(bundleQty)">
                    <button class="btn btn-default btn-sm" 
                            style="font-size: 7px !important;"
                            (click)="changeQty(bundleQty, false)">
                        <span class="fa-stack">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-minus fa-stack-1x"></i>
                        </span>
                    </button>
                </div>
            </div>

            <div class="col-sm-6 text-danger" style="font-size: larger;">
                <span class="text-info">
                    Total Price :
                </span>
                <strong><i class="fa fa-inr"></i> </strong>
                <span style="text-decoration: line-through;"
                      [innerHtml]="combo.bundleInfo.books_totalPrice"></span>
            </div>

            <div class="col-sm-6 text-warning text-right" style="font-size: larger;">

                <span class="text-info">Combo Price :</span>
                <strong><i class="fa fa-inr"></i> </strong>
                <span [innerHtml]="combo.bundleInfo.bundle_totalPrice"></span>
            </div>

            <div class="row" style="margin-top: 50px;">

                <div *ngFor="let book of combo.bookInfo; let lastIndex = last;">

                    <div class="col-sm-3" style="padding: 5px;">

                        <a ui-sref="book_details({bookId : book.BookId, bookTitle : (book.title | stringFilter) })">
                            <img [src]="book.BookImage" class="img-responsive" style="margin: 0 auto; height:170px;">
                        </a>

                        <div class="text-center">
                            <div class="name-container">
                                <a [routerLink]="['/Book/Info', book.BookId, book.title | stringFilter]"
                                   [innerHtml]="book.title"></a>
                            </div>

                            <div class="price" style="margin: 6px 0px 6px 0px;">
                                <strong><i class="fa fa-inr"></i> </strong>
                                <span [innerHtml]="book.price"> </span>
                            </div>

                            <div style="margin-bottom: 5px;">
                                <a class="btn btn-primary btn-xs"
                                   [routerLink]="['/Book/Info', book.BookId, book.title | stringFilter]">
                                    Details
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-1"
                         style="width: 25px !important; padding: 0px !important; margin-top: 10%;"
                         *ngIf="!lastIndex">
                        <i class="fa fa-plus fa-2x" style="color: burlywood;"></i>
                    </div>
                </div>

            </div>

        </md-tab>
    </md-tab-group>

</div>
