<!DOCTYPE html>
<html>
<head>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel="stylesheet" />

    <style>
        .table > tbody > tr > td {
            padding-top: 0px !important;
        }

        .table > tbody > tr > th {
            padding: 3px !important;
        }

        p {
            margin: 0px !important;
            font-size: 12px !important;
        }

        .panel-heading {
            border-bottom: 1px solid #333 !important;
            padding-left: 6px !important;
        }
    </style>

</head>
<body>
    <div class="container-fluid" id="myId" style="padding: 0px !important;">
        
        <div class="row">
            <h5> ------------------------------------------------------------------------------------------ Customer Copy ----------------------------------------------------------------------- </h5>
        </div>

        <div style="margin-top: 10px;width: 900px;display: inline-block;">
            <div style="width:485px; float: left;">
                <div class="panel panel-default" style="border: 1px solid #333;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shipping Address</h3>
                    </div>
                    <div class="panel-body" style="padding: 5px !Important;">
                        <div class="col-md-12 col-sm-2" style="padding: 0px;" id="AdressInfo">
                        </div>
                    </div>
                </div>
            </div>
            
            <div style="width: 385px;float: left;margin-left: 10px" id="packetDetail">
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-primary" style="border: 1px solid #000;">

                    <div class="panel-body" style="padding: 5px !important">
                        <table class="table panel-primary" style="margin-bottom: 0px !important">
                            <tbody id="item_container" style="font-size: 12px;">

                                <tr style="border-bottom: 1px solid;">
                                    <th>SNO</th>
                                    <th>Subject</th>
                                    <th>Class</th>
                                    <th>Type</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Net Price</th>
                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                   
                    <!--<div class="panel-footer">
                        <p> Counted by ____________ </p>
                    </div>-->

                </div>
            </div>

        </div>

        <div class="row">
            <h5> ------------------------------------------------------------------------------------------ Office Copy ------------------------------------------------------------------------------ </h5>
        </div>

        <div style="margin-top: 10px;width: 900px;display: inline-block;">
            <div style="width:485px; float: left;">
                <div class="panel panel-default" style="border: 1px solid #333;">
                    <div class="panel-heading">
                        <h3 class="panel-title">Shipping Address</h3>
                    </div>
                    <div class="panel-body" style="padding: 5px !Important;">
                        <div class="col-md-12 col-sm-2" style="padding: 0px;" id="AdressInfo">
                        </div>
                    </div>
                </div>
            </div>

            <div style="width: 385px;float: left;margin-left: 10px" id="packetDetail">
            </div>
        </div>

        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-primary" style="border: 1px solid #000;">

                    <div class="panel-body" style="padding: 5px !important">
                        <table class="table panel-primary" style="margin-bottom: 0px !important">
                            <tbody id="item_container" style="font-size: 12px;">

                                <tr style="border-bottom: 1px solid;">
                                    <th>SNO</th>
                                    <th>Subject</th>
                                    <th>Class</th>
                                    <th>Type</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Net Price</th>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <!--<div class="panel-footer">
                    <p> Counted by ____________ </p>
                </div>-->

                </div>
            </div>

        </div>

    </div>

</body>
</html>
