<div id="cart_detailContainer">

    <div class="row" style="margin-top: 20px;">
        <h3>Payment Method<i class="fa fa-arrow-circle-o-right"></i></h3>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-lg-10 col-sm-2">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Offline</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-2">
                                <h3>You can pay Offline through:</h3>
                                <p>
                                    <strong>Cheque</strong><br>
                                    <strong>Demand Draft</strong><br>
                                    <strong>Cash Deposit</strong><br>

                                </p>
                                <div class="text-right"><input type="button" value="Proceed" class="btn btn-primary"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Online</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12 col-sm-2">
                                <h3>You can pay online using:</h3>
                                <p>
                                    <strong>Debit Card</strong><br>
                                    <strong>Credit Card</strong><br>
                                    <strong>Net Banking</strong><br>

                                </p>
                                <div class="text-right"><input type="button" value="Pay Now" class="btn btn-primary"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
  
</div>