<style>
    .disable_continer {
        opacity: .5;
        z-index: 10000;
        pointer-events: none;
    }
</style>

<!--- Image slider -->
<div class="row slider" style="margin-top: 20px;">
    <div class="col-sm-12">
        <img src="Images/books_banner.jpg" class="img-responsive" style="width: 100%;height: 300px;" />
    </div>
</div>

<!--classes {{ classList | json }}-->

<!--- Content -->
<div class="row main_content" style="margin-top: 20px;">
    <div class="col-md-12">

        <div class="col-md-9">

            <!--  $event will hold the data return by child component  -->
            <bookSearch (onSearchBooks)="serchBook($event)"></bookSearch>

            <div class="row">
                <md-tab-group dynamicHeight>
                    <md-tab label="BOOKS">
                        <div class="col-sm-12" style="margin-top: 7px;">
                            <div *ngFor="let bookInfo of bookList; let myIndex = index;">
                                <div class="clearfix" *ngIf="myIndex % 4 == 0"></div>
                                <div class="col-sm-3 col-lg-3 col-md-3">
                                    <book_info [book]="bookInfo"></book_info>
                                </div>
                            </div>
                        </div>
                    </md-tab>

                    <!--  to disable tab => [disabled]="true"  -->
                    <md-tab label="BUNDLES" style="overflow: hidden !important;">
                        <!--<p> this is Bundle Section </p>-->
                        <bundle [bundles]="bundleList"></bundle>
                    </md-tab>
                </md-tab-group>
            </div>
        </div>

        <!-- Right View -->
        <div class="col-md-3">
        </div>

    </div>
</div>
